<div class="search-container">
    <h2>Search Employees</h2>
    <form (submit)="search()">
      <div class="search-form">
        <input type="text" placeholder="Search by Last Name or Phone" [(ngModel)]="query" name="query">
        <button type="submit">Search</button>
      </div>
    </form>
    <div class="search-results" *ngIf="searchResults.length > 0">
      <h3>Search Results</h3>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Phone</th>
            <th>Zip</th>
            <th>Hire Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of searchResults">
            <td>{{ employee.employeeId }}</td>
            <td>{{ employee.employeeLastName }}</td>
            <td>{{ employee.employeeFirstName }}</td>
            <td>{{ employee.employeePhone }}</td>
            <td>{{ employee.employeeZip }}</td>
            <td>{{ employee.hireDate | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  